<!DOCTYPE html>

<html>
<head>
  <title>Levymekka</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<article>

	<div id="header">
	    <%= image_tag "logo.png" %>
    <br>
    <a class="button1" href="<%= "uutiset" %>">Uutiset</a>
    <a class="button1" href="<%= "levylistaus" %>">Levyt</a>
    <a class="button1" href="<%= "yhteystiedot" %>">Yhteystiedot</a>
	</div>

	<div id="Content">
		<%= yield %>
	</div>

</article>

</body>
</html>

<script>


/*
 	 * usage: ajaxXMLReguest("file.xml", function(response) { do something here })
 	 */
	function ajaxXMLReguest(target, callback) {
 		if (window.XMLHttpRequest) {
   			xmlhttp=new XMLHttpRequest();
   		}
 		
 		else {
  			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  		}
  		
 		xmlhttp.open("GET","target",false);
 		xmlhttp.send();
 		callback(xmlhttp.responseXML);
 	}
 </script>